@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: #222;
  font: 17px/20px 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.content {
  padding: 20px;
}
h1,
li {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  margin-top: 6px;
}
ul {
  margin-top: 15px;
}
li {
  display: inline-block;
  margin: 5px 10px;
}
a {
  color: #777;
  text-decoration: none;
  transition: color 0.2s;
}
a[href*="madebycloud"]:hover {
  color: #000;
}
a[href*="twitter"]:hover {
  color: #55acee;
}
a[href*="linkedin"]:hover {
  color: #8d6cab;
}
a[href*="instagram"]:hover {
  color: #3f729b;
}
a[href*="github"]:hover {
  color: #bd2c00;
}
